.column {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.homes-grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    width: 80%;
}

.home-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: wheat;
    border-radius: 10px;
    padding: 5px;
}

.home-card img {
        width: 90%;
        border-radius: 10px;
}

body {
    
    background-color: #c7b39b; 
}

img.background {
    min-height: 440px;
    min-width: 800px;
    width: 50%;
    height: 50%;
    position: center;
    top: 0;
    left: 0;